@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');


.dinehero {
    font-size: 4em;
    color: white;
    margin: 20px;
    text-align: center;
}

.dinehero span {
    color: #d0ae2d;
    font-family: Charm;
    font-weight: bold;
}


#loader-container{
    display: flex;
    justify-content: center;
}

#loader{
    width: 200px;
    z-index: -12; 
}

.main-container {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    position: relative;
    top: 100px;
    max-width: auto;
}

.footer {
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 104px; 
    font-weight: bolder;
}




/* Responsiveness */

@media (max-width: 1470px) and (min-width: 1401px) {


    .main-container {
        top: 100px; 
        max-width: 90%;
        margin: auto; 
    }

    .footer {
        margin-top: 20px; 
    }

    .dinehero {
        font-size: 3em; 
        margin: 10px;
    }
    
    .dinehero span {
        font-size: 1.2em; 
    }


    .food-container {
        width: 30%; 
        margin: 10px; 
    }

    .footer {
        margin-top: 90px;
    }
}
