body{
    background-color: white ;
    height: 100vh;
}

.text {
    position: relative;
    left: 25px;
}


.creditcard img {
    width: 450px;
    margin: 15px;
    position: relative;
    top: -430px;
    right: -950px;
}

