body{
    margin: 0;
    padding: 0; 
    height: 100vh; 
    background-image: url('images/Shopbackground.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

.text {
    margin-left: 100px;
    position: relative;
    top: -93px;
}

.text p{ 
    font-weight: 550;}
    

h1 { 
    font-size: 3em;
}


.active {
    background-color: green;
}